<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render "light_section", taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "category", taxonomies: @taxonomies %>
        <%= render "color" %>
        <%= render "size" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "sort" %>
        <%= render "products", products: @products %>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/under_light_section" %>
