<% provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render "layouts/light_section", product: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'main_section', product: @product %>
    <%= render "layouts/related_products" %>
  </div>
</section>